<img class="card-img-top" src={{product?.imageUrl}} alt={{product?.name}}>
<div class="card-body">
    <h5 class="card-title">{{product?.name}}</h5>
    <p class="card-text">{{product?.description}}</p>
    <div class="the-flex">
        <a [routerLink]="['/products', product?.id, 'edit']" class="btn btn-primary">Edit</a>
        <a (click)="onDelete(product?.id)" type='button' class="btn btn-danger">Delete</a>
    </div>
</div>
<div class="card-footer" style="background-color: white;">
    <small class="text-muted"> ${{product?.price}}</small>
</div>